<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87507404677-ai1f8sdhr8r39aj7f0g7e0u5slqml0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87507404677-ai1f8sdhr8r39aj7f0g7e0u5slqml0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyDwkNKFActXBQw7CLQSNDueDOA1NhTDgi4</string>
	<key>GCM_SENDER_ID</key>
	<string>87507404677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.momeal.app</string>
	<key>PROJECT_ID</key>
	<string>momeal-app</string>
	<key>STORAGE_BUCKET</key>
	<string>momeal-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87507404677:ios:efdf74af9b5123b2bae6ec</string>
</dict>
</plist>